/*Color Palette */
/*Teal #00b3b3*/
/*Light Teal #b2d8d8*/
/*Light Gray #DCDCDC*/


/*Global Settings*/

.content-warp {
	width: 950px;
	margin: 0 auto;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
}

/*Header and Footer */

header, footer {
	background: #00b3b3;
}

header h1, header h2 {
	background: #DCDCDC;
}

/*Body of HTML*/
body {
	font-family: 'Montserrat', sans-serif;
}

a {
	color; white;
}


a:hover {
	text-decoration: none;
}


/*Work Experience*/

.work {
	background: #b2d8d8;
}



/*Education */
.eduction {
	background: #DCDCDC; 
}