/*////////////////////////////*Color Palette */
/*Teal #00b3b3*/
/*Light Teal #b2d8d8*/
/*Light Gray #DCDCDC*/


/*////////////////////////////*Global Settings*/

.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
	margin-top: 0;
}

/*////////////////////////////Header and Footer */

header, footer {
	background: #00b3b3;
}


/*////////////////////////////Header */

header h1, header h2 {
	background: #DCDCDC;
}

/*////////////////////////////Footer */

footer {
	text-align: center;
}


/*////////////////////////////*Body of HTML*/
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

a {
	color; white;
}


a:hover {
	text-decoration: none;
}


/*////////////////////////////*Work Experience*/

.work {
	background: #b2d8d8;
}



/*////////////////////////////*Education */
.eduction {
	background: #DCDCDC; 
}